<section class="main-content">
    <section class="main-left col col-1-6">
        <header class="main-header"><a href="">Launching the New React/Redux Curriculum</a></header>
        <p class="author-name">By APP ACADEMY INSTRUCTIONAL TEAM</p>
        <br>
        <ul class="left-list">
            <li>It helps you write applications that behave consistently, run in 
                different environments (client, server, and native), and are easy to test. 
                On top of that, it provides a great developer experience, such as 
                live code editing combined with a time traveling debugger.
            </li>
            <li>
                The whole state of your app is stored in an object tree inside a single store.
                The only way to change the state tree is to emit an action, an object 
                describing what happened. To specify how the actions transform the state tree, you write pure reducers.
            </li>
        </ul>
        <br>
        <a href="__">1738 Comments</a>    
    </section>
    <section class="main-front col col-1-2">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        <p>Warning: This video will make you want to change your career</p>

        <header class="headers"><a href="">Where Are They Now?</a></header>
        <p class="author-name">By APP ACADEMY ALUMNI</p>
        First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.

        <header class="headers"><a href="">Cat Academy</a></header>
        <p class="author-name">By APP ACADEMY DIRECTOR OF PRODUCTS</p>
        <p> App Academy's latest product targets those interested in owning 
            the popular feline companion by providing a curated cat care curriculum.</p>
            
    </section>

    <section class="main-right col col-1-3">
        <h3>The Opinion Pages</h3>
        <article class="col col-1-2">
            <p class="sidebar-head">Op-Ed Contributor</p> 
            <header class="headers"><a href="">Will Javascript ever be as easy as Ruby?</a></header>
            <p>Javascript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
            <ul class="left-list">
                <li>Torvalds: When I Was Almost Wrong</li>
                <li>Knuth: Art of Programming</li>
                <li>Lovelace: The First Algorithm</li>
                <li>Hopper: The First Bug</li>
                <li>Thompson: Go C Unix</li>
                <li>Carmack: My Virtual Reality</li>
                <li>Stallman: Free Speech Not Free Coffee</li>
            </ul>  
        </article>
        <article class="col col-1-2">
            <p class="sidebar-head">Operations</p>
            <header class="headers"><a href="">App Academy New York Has A Brand New Office</a></header>
            <p class="author-name">By NY OPERATIONS</p>
            <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
            <img src="/assets/new_office.jpg" alt="New Office" class="office-picture">
            <header class="headers"><a href="">Opinion Today, in your Inbox</a> class="headers"</header>
            <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
            
            <br>
            
        </article>
        <br>
        <input type="text" value="Get the Opinion newsletter by email">
        <button>Sign Up</button>
            
        <p>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p>
        
    </section>
    

    



</section>